 /* body{
            background: linear-gradient(to left,violet,#a204fd);
        } */
        .container-fluid {
            border-bottom: 2px solid #dadada;
        }

        #img {
            height: 80px;
            width: 100px;
        }

        #navbarNav {
            text-align: center;
        }

        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .imslider {
            width: 100%;
            height: 500px;
            background-image: url("/static/images/back1.jpg");
            background-size: 100% 100%;
            animation: changeimg 30s linear infinite;
        }

        @keyframes changeimg {
            0% {
                background-image: url('/static/images/back1.jpg');
            }

            25% {
                background-image: url('/static/images/back2.jpg');
            }

            50% {
                background-image: url('/static/images/back3.jpg');
            }

            75% {
                background-image: url('/static/images/back4.webp');
            }

            100% {
                background-image: url('/static/images/back1.jpg');
            }
        }

        .logout {
            position: absolute;
            right: 2%;
            top: 35%;
        }

        .logout-text {
            display: none;
            position: absolute;
            bottom: -0px;
            right: 0%;
            background-color: #ffff;
            /* border: 1px solid #ccc; */
            padding: 5px;
        }

        .logout:hover .logout-text {
            display: block;
            cursor: pointer;
        }

        .logout-form {
            display: inline;
        }

        .logout-form button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
        }

        .logout-form img {
            height: 30px;
            
        }

        /* #user {
            position: absolute;
            right: 7%;
            cursor: pointer;
            transition: transform .5s;
        }

        #user:hover {
            transform: scale3d(1.5s);
        } */

        #user {
            position: absolute;
            right: 10%;
            padding: 50px;
            /* background-color: green; */
            transition: transform .5s;
            /* Animation */
            /* width: 200px;
            height: 200px; */
            margin: 0 auto;
        }

        #user:hover {
            transform: scale(1.1);
            color: rgb(244, 183, 108);
        }

        .navbar {
            background-color: #ffff;
            border-radius: 15px;
            font-weight: bold;
        }

        .navbar div li {
            transition: transform .5s;
        }

        .navbar div li:hover {
            transform: scale(1.09);
            color: red;
        }

        /* .navbar-nav>li {
            padding-left: 10px;
            padding-right: 10px;
        } */
        /* a:active{
            color: blue;
        }
        a:visited{
            color: rgb(76, 76, 255);
        } */
        #img{
            transition: transform .5s;
        }
        #img:hover{
            transform: scale(1.09);
        }
        #navbarNav img{
            position: absolute;
            right: 2%;
        }